extends layout

block content
	div(class='text-center')
		div(class='jumbotron center-form')
			form(method='post', id='passChangeForm')
				h2(class='greyText') Change password
				div(class='form-group')
					label(for='login', class='greyText') Current password:
					input(id='password', type='password', class='form-control', name='password', placeholder='Password', required,  oninvalid="this.setCustomValidity('Please Enter Your Password')"
 oninput="setCustomValidity('')")
					div(class='invalid-feedback', id='invPassord') Incorrect password!
				div(class='form-group')
					label(for='password', class='greyText') New password:
					input(id='newPassword', type='password', class='form-control', name='newPassword', placeholder='Password', required,  oninvalid="this.setCustomValidity('Please Enter Your New Password')", 
 oninput="setCustomValidity('')")
					div(class='invalid-feedback', id='invNewPass') Invalid password!
				div(class='form-group')
					label(for='repeatPassword', class='greyText') Reapeat new password:
					input(id='repNewPassword', type='password', class='form-control', name='repNewPassword', placeholder='Password', required,  oninvalid="this.setCustomValidity('Please Repeat Your New Password')", 
 oninput="setCustomValidity('')")
					div(class='invalid-feedback', id='invRepNewPass') Invalid password!
				div(class='form-group')
					button(type='submit', class='btn btn-dark btn-block') Change Password
	script(src='/javascripts/change-password.js')
			