extends layout

block content
	div(class='greyBg border-grey h-100 w-100 mediumpad rounded text-center', style='border-radius: 10px !important;')
		h3 If you have any complaints or suggestions please contact us:
		br
		br
		h4 email: hyloxalusfallax@gmail.com