extends layout

block content
	div(class='text-center')
		div(class='jumbotron center-form')
			form(method='post', id='signUpForm')
				h2(class='greyText') Sign Up
				div(class='form-group')
					label(for='login', class='greyText') Username:
					input(id='username', type='text', class='form-control', name='login', placeholder='Username', required,  oninvalid="this.setCustomValidity('Please Enter Your Username')"
 oninput="setCustomValidity('')")
					div(class='invalid-feedback', id='invUsername') Invalid username!
				div(class='form-group')
					label(for='password', class='greyText') Password:
					input(id='password', type='password', class='form-control', name='password', placeholder='Password', required,  oninvalid="this.setCustomValidity('Please Enter Your Password')", 
 oninput="setCustomValidity('')")
					div(class='invalid-feedback', id='invPass') Invalid password!
				div(class='form-group')
					label(for='repeatPassword', class='greyText') Reapeat password:
					input(id='repPassword', type='password', class='form-control', name='password', placeholder='Password', required,  oninvalid="this.setCustomValidity('Please Enter Your Password')", 
 oninput="setCustomValidity('')")
					div(class='invalid-feedback', id='invRepPass') Invalid password!
				div(class='form-group')
					button(type='submit', class='btn btn-dark btn-block') Create Account
	script(src='/javascripts/sign-up.js')
			