extends layout

block content
	if (!profile)
		div(class='greyBg border-grey h-100 w-100 mediumpad rounded text-center', style='border-radius: 10px !important;')
			h1 Welcome!
			br
			br
			br
			h3 To use YetAnotherToDoList you need either
			br
			h3 #[a(type='button', class='btn btn-secondary btn-dark text-white', href='/users/sign-in') Sign In] or #[a(type='button', class='btn btn-secondary btn-dark text-white', href='/users/sign-up') Sign Up]	 
		